::-Webkit-scrollbar {
    width: 5px;
}

::-Webkit-scrollbar-track {
    background: #f1f1f1;
}

::-Webkit-scrollbar-thumb {
    background: #888;
}

::-Webkit-scrollbar-thumb:hover {
    background: #555;
}

input:focus,
textarea:focus,
select:focus {
    outline: none;
}

body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

body,
input,
select,
textarea {
    font-family: 'Source Sans Pro';
}

p {
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    color: #000;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.Header {
    height: 80px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Header>* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    padding: 20px;
}

.Header .Search {
    flex: 1
}

.Header .Search input {
    width: 100%;
    box-sizing: border-box;
    width: 100%;
    box-sizing: border-box;
    border: none;
    box-shadow: 0 0 30px rgba(0, 0, 0, .04);
    font-size: 15px;
    padding: 10px;
    border-radius: 20px;
}

.Header .Search input:focus {
    box-shadow: 0 0 30px rgba(0, 0, 0, .1);
}

@media only screen and (min-width: 780px) {
    .Web {
        display: flex;
    }

    .Web>* {
        height: 100vh;
        box-sizing: border-box;
        overflow: auto;
        width: 100%;
    }

    .Categories {
        max-width: 300px;
    }
}


ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul li {
    margin: 0 0 20px 0;
    overflow: hidden;
}

.Categories {
    padding: 0;
    background-color: #f3f3f3;
}

.Categories .Title {
    padding: 40px 40px 0 60px;
}

.Categories li {
    margin: 0;
}

.Categories li a {
    display: block;
    padding: 10px 40px 10px 60px;
    font-family: 'Apercu Pro';
    font-weight: bold;
}

.Categories li a:hover,
.Categories li.Selected a {
    background-color: #e2e2e2;
    text-decoration: none;
}

@media only screen and (min-width: 780px) {
    .Columns {
        display: flex;
    }

    .Columns>* {
        height: calc(100vh - 80px);
        box-sizing: border-box;
        padding: 40px;
        overflow: auto;
        width: 100%;
    }

    .Shows {
        max-width: 350px;
    }
}

.Menu {
    text-align: right;
}

.Menu li {
    display: inline-block;
    margin: 0 5px;
}

.Menu li a {
    font-family: 'Apercu Pro';
    font-size: 15px;
    font-weight: bold;
}


.ResultSummary h5 {
    font-size: 15px;
    margin-bottom: 5px;
}

.ResultSummary .Image {
    float: left;
    max-width: 40px;
    margin: 0 20px 0 0;
}

.ShowSummary h5 {
    font-size: 15px;
    margin-bottom: 5px;
}

.ShowSummary .Image {
    float: left;
    max-width: 40px;
    margin: 0 20px 0 0;
}

.ShowSummary .Image img {
    border-radius: 4px;
}

.ShowSummary .Description {
    font-size: 12px;
}

.ShowSummary.Selected {
    padding-left: 20px;
    border-left: 5px solid #ff2d20;
}

h1,
h2,
h3,
h4,
h5,
h6,
.Title {
    font-family: 'Apercu Pro';
    margin: 0 0 20px 0;
}


h1,
h3,
.Title {
    font-size: 30px;
    font-weight: bold;
}

.pagination {
    margin: 0;
    padding: 5px;
    list-style: none;
}

.pagination li {
    display: inline-block;
    padding: 2px 5px;
}

.Episodes .ShowDescription {
    margin: 0 0 30px 0;
}

.Sticky {
    /*position: sticky;
    top: 0;*/
}

@media only screen and (max-width: 780px) {

    .Shows,
    .Episodes,
    .Results {
        padding: 30px;
    }
}

@media only screen and (max-width: 780px) {
    .Categories .Title {
        display: none;
    }

    .Categories li a {
        padding: 12px;
    }

    .Categories li.Selected {
        border-bottom: 5px solid #ff2d20;
    }

    .Categories ul {
        overflow: auto;
        white-space: nowrap;
        min-width: 100%;
    }

    .Categories li {
        display: inline-block;
    }
}
