::-Webkit-scrollbar {
    width: 5px;
}

::-Webkit-scrollbar-track {
    background: #f1f1f1;
}

::-Webkit-scrollbar-thumb {
    background: #888;
}

::-Webkit-scrollbar-thumb:hover {
    background: #555;
}

* {
    box-sizing: border-box;
}


body {
    padding: 0;
    margin: 0;
}

body,
input,
select,
textarea,
button {
    font-family: 'Source Sans Pro';
    font-size: 15px;
}

p {
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    color: #000;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.Header .HeaderContent {
    width: 100%;
}

.Header .HeaderContent>* {
    margin: 0;
    padding: 10px 20px;
}

.Search {
    flex: 1
}

@media only screen and (min-width: 780px) {

    .Categories ul {
        display: grid;
        grid-column-gap: 20px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        margin-bottom: 30px;
    }

    .episodesList li a {
        display: flex;
    }

    .episodesList li a>* {
        width: 100%;
        margin: 0;
    }

    .episodesList li .Metas {
        max-width: 100px;
        text-align: right;
        margin-right: 20px;
    }

    .Header .HeaderContent {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 80px;
    }

    .Header .HeaderContent>* {
        padding: 20px;
    }

    .Web {
        display: flex;
    }

    .Web>* {
        height: 100vh;
        overflow: auto;
        width: 100%;
    }

    .MainMenu {
        max-width: 300px;
    }
}


ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul li {
    margin: 0 0 20px 0;
    overflow: hidden;
}

.MainMenu {
    padding: 0;
    background-color: #f3f3f3;
}

.MainMenu .Title {
    padding: 40px 40px 0 60px;
}

.MainMenu li {
    margin: 0;
}

.MainMenu li.Divider {
    border-top: 1px solid #fff;
}

.MainMenu li a,
.MainMenu li span {
    display: block;
    padding: 10px 40px 10px 60px;
    font-family: 'Apercu Pro';
    font-weight: bold;
}

.MainMenu li span {
    opacity: .7;
}

.MainMenu li a:hover,
.MainMenu li.Selected a {
    background-color: #e2e2e2;
    text-decoration: none;
}

.Shows .List {
    display: grid;
    grid-column-gap: 20px;
    grid-template-columns: 1fr 1fr;
}

.Shows .List li {
    padding: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 7px;
    margin-bottom: 20px;
}

@media only screen and (min-width: 780px) {
    .Columns {
        display: flex;
        position: relative;
    }



    .Columns>* {
        height: calc(100vh - 80px);
        padding: 40px;
        overflow: auto;
        width: 100%;
    }

    .ContentHome .Columns>* {
        height: 100vh;
    }
    .Shows .List {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .Shows .List li {
        margin-bottom: 40px;
    }
}


.ResultSummary h5 {
    font-size: 15px;
    margin-bottom: 5px;
}

.ResultSummary .Image {
    float: left;
    max-width: 40px;
    margin: 0 20px 0 0;
}

.ResultSummary.typeEpisode .Image img {
    width: 20px;
}

.ShowSummary h5 {
    font-size: 15px;
    margin-bottom: 5px;
}

.ShowSummary .Image {
    margin: 0 0 20px 0;
}

.ShowSummary .Image img {
    border-radius: 7px;
}

.ShowSummary .Description {
    font-size: 12px;
}

.Metas {
    margin-top: 5px;
}

.ShowSummary.Selected {
    padding-left: 20px;
    border-left: 5px solid #ff2d20;
}

h1,
h2,
h3,
h4,
h5,
h6,
.Title {
    font-family: 'Apercu Pro';
    margin: 0 0 20px 0;
}


h1,
h3,
.Title {
    font-size: 30px;
    font-weight: bold;
}


.Episodes .ShowDescription {
    margin: 0 0 30px 0;
}

.Sticky {
    /*position: sticky;
    top: 0;*/
}

.Back {
    text-align: right;
}



.episodesList {
    margin: 10px 0;
}

.episodesList li .Thumb {
    max-width: 24px;
    margin-right: 20px;
}

.episodesList li .Author {
    max-width: 200px;
    font-size: .85em;
    margin-right: 20px;
}

.episodesList li {
    border-bottom: 1px solid #f3f3f3;
    margin: 0 0 15px 0;
    padding: 0 0 10px 0;
}

@media only screen and (min-width: 1380px) {
    .Shows .List {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    .Categories ul {
        display: grid;
        grid-column-gap: 20px;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}

.Categories li a {
    display: flex;
    align-items: center;
    font-family: 'Apercu Pro';
    font-weight: bold;
    padding: 15px;
    border-radius: 10px;
    background-color: #f3f3f3;
    min-height: 150px;
    white-space: normal;
    font-size: 22px;
}

.Categories a span {
    align-self: flex-end;
    word-wrap: break-word;
    display: block;
}

.Breadcrumb {
    font-size: 13px;
    padding: 4px 4px 4px 0;
    margin: 5px;
}

.Breadcrumb li {
    display: inline-block;
    margin: 0 3px 0 0;
    position: relative;
}

.Breadcrumb li:not(.active):after {
    content: " / ";
    opacity: .5;
    margin-left: 2px;
}

.HeaderTitle {
    display: flex;
}

.HeaderTitle .Back {
    text-align: right;
    margin-left: auto;
    padding-left: 15px;
}


.Player {
    margin: 30px 0;
}

.Player audio {
    width: 100%;
}

.Home .Search {
    padding-bottom: 30px;
}

/** Móvil **/
@media only screen and (max-width: 780px) {
    .Categories ul {
        overflow: auto;
        white-space: nowrap;
        min-width: 100%;
        margin-bottom: 30px;
        padding: 0 15px 30px 15px;
    }

    .Categories ul li {
        display: inline-block;
        width: 170px;
        margin: 0 15px;
    }

    .Categories li a {
        min-height: 200px;
        font-size: 18px;
    }

    .episodesList li {
        margin-bottom: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid #f5f5f5;
    }

    .episodesList li:last-child {
        margin-bottom: 0;
        padding-bottom: 0;
        border-bottom: none;
    }


    .episodesList li .Thumb {
        display: none;
    }

    .Back {
        text-align: center;
    }

    .Breadcrumb {
        text-align: center;
    }

    .Shows,
    .Episodes,
    .Results,
    .Home {
        /*padding: 30px;*/
    }

    .Home .Search {
        padding: 30px;
    }

    .Shows .List {
        padding: 0 30px 30px 30px;
    }

    .HeaderTitle {
        padding: 30px 30px 0 30px;
    }

    .ShowDescription .Description {
        padding: 0 30px 0 30px;
    }

    .episodesList {
        margin: 30px;
    }

    .Title {
        padding: 30px 30px 0 30px;
    }

    .Container {
        padding: 30px;
    }

    .Container .Title {
        padding: 0;
    }

    .Header {
        position: sticky;
        top: 0;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, .04);
        z-index: 9;
    }

    .MainMenu .Title {
        display: none;
    }

    .MainMenu li a,
    .MainMenu li span {
        padding: 12px;
    }

    .MainMenu ul {
        overflow: auto;
        white-space: nowrap;
        min-width: 100%;
        text-align: center;
    }

    .MainMenu li {
        display: inline-block;
    }
}

input:focus,
textarea:focus,
select:focus {
    outline: none;
}

input[type=email],
input[type=url],
input[type=text],
input[type=password],
input[type=search],
select,
textarea {
    width: 100%;
    border: none;
    font-size: 15px;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #f5f5f5;
    box-shadow: 0 0 5px rgba(0, 0, 0, .04);
}

input[type=email]:focus,
input[type=url]:focus,
input[type=text]:focus,
input[type=password]:focus,
input[type=search]:focus,
select:focus,
textarea:focus {
    box-shadow: 0 0 7px rgba(0, 0, 0, .1);
}

.Button,
input[type=submit],
button {
    display: inline-block;
    padding: 5px 20px !important;
    background-color: #2f7fd2;
    color: #fff;
    font-size: 0.8em;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 3px;
    cursor: pointer;
    text-align: center;
    border: none;
    text-decoration: none;
    border: 1px solid #2f7fd2;
}

.Button:hover,
input[type=submit]:hover,
button:hover {
    background-color: #4795e7;
}

.Button:active,
input[type=submit]:active,
button:active {
    background-color: #2877cc;
}

.Button.Link,
input[type=submit].Link,
button.Link {
    background-color: transparent;
    color: #2f7fd2 !important;
    font-weight: bold;
    border: 1px solid #2f7fd2;
}

.Button.Disabled,
input[type=submit]:Disabled,
button.Disabled {
    opacity: .5;
    cursor: no-drop;
}

.Control {
    padding: 0 0 15px 0;
    display: flex;
}

.Control:last-child {
    padding: 0 0 15px 0;
}

.Control>* {
    width: 100%;
}

.Control label {
    padding-right: 10px;
    max-width: 130px;
    padding-top: 10px;
}

.Control a {
    display: inline-block;
    padding-top: 10px;
}

.Control .Button,
.Control input[type=submit],
.Control button {
    margin-right: 10px;
}

.Control *:last-child {
    margin-right: 0;
}

.Form {
    max-width: 500px;
}

.ErrorInline {
    color: #b42e27;
    font-size: 12px;
    margin: 5px 0;
}

.Alert {
    padding: 15px;
    background-color: #f3f3f3;
    margin: 15px 0;
    border-radius: 6px;
    font-size: 0.9em;
}

.Alert.Success {
    background-color: rgb(153, 216, 139);
    color: #fff;
}

.Alert.Error {
    background-color: #b42e27;
    color: #fff;
}


.PaginationContent {
    display: grid;
    grid-column-gap: 20px;
    grid-template-columns: 1fr 1fr;
    padding: 20px 0;
    margin: 0 0 20px 0;
}

.pagination {
    margin: 0;
    padding: 0;
    list-style: none;
    border-radius: 5px;
    text-align: right;
}

.pagination li {
    display: inline-block;
    padding: 0px 2px;
    margin: 0;
}

.pagination li span,
.pagination li a {
    padding: 3px 7px;
    background-color: #f7f7f7;
    border-radius: 3px;
    border: 1px solid #e8e8e8;
    display: inline-block;
    font-size: 0.9em;
}

.pagination li a {
    background-color: #e6e6e6;
    border: 1px solid #adadad;
}

.pagination li.active span {
    background-color: transparent;
    border: 1px solid #fff;
    color: #000;
    font-weight: bold;
}

@media only screen and (max-width: 780px) {
    .PaginationContent {
        grid-template-columns: 1fr;
        padding: 20px;
    }

    .pagination, .PaginationContent p {
        text-align: center;
    }
    .PaginationContent p {
        margin-bottom: 15px;
    }
}
